header {
	background: #8B0000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.produtos {
	display: flex;
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}
